In [ ]:
import pandas as pd
import numpy as np
import requests
import os 
from dotenv import load_dotenv

load_dotenv()

True

In [22]:
# Almacenamos el token del archivo .env

token = os.getenv("token")

In [65]:
# definimos la url a la que haremos la request

url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-12-01T00:00:00UTC/fechafin/2022-12-10T23:59:59UTC/estacion/3195/?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJqdWFub25jb3JyZWFAZ21haWwuY29tIiwianRpIjoiZGUwOGViYzktZTlhMS00NTAzLWI3Y2QtYzE0YjUzZTU5N2I4IiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE2NzE0MDMwNDEsInVzZXJJZCI6ImRlMDhlYmM5LWU5YTEtNDUwMy1iN2NkLWMxNGI1M2U1OTdiOCIsInJvbGUiOiIifQ.oeA2bjYAtDiZzCZCkph5AFADc7rfWTXGh6AecuJ2dwo"

# definimos los parámetros que necesitamos

querystring = {"api_key": token}

headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/3ed95a59",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [63]:
#Aquí he pegado los valores de la web de datos del resultado de la consulta de la API
df = pd.read_clipboard(sep="\\")
df.head()

                              [ {
0         "fecha" : "2022-12-01",
1          "indicativo" : "3195",
2    "nombre" : "MADRID, RETIRO",
3         "provincia" : "MADRID",
4              "altitud" : "667",

In [122]:
# Lo convertimos a Data Frame para empezar a limpiar los datos

pd.DataFrame(df)

                                [ {
0           "fecha" : "2022-12-01",
1            "indicativo" : "3195",
2      "nombre" : "MADRID, RETIRO",
3           "provincia" : "MADRID",
4                "altitud" : "667",
..                              ...
195            "presMax" : "934,1",
196           "horaPresMax" : "18",
197            "presMin" : "926,7",
198            "horaPresMin" : "01"
199                             } ]

[200 rows x 1 columns]

In [131]:
# lo primero que haremos será sacar los id de todos los videos. Lo haremos con un lambda. 

x = df.iloc[0:19]
x

                               [ {
0          "fecha" : "2022-12-01",
1           "indicativo" : "3195",
2     "nombre" : "MADRID, RETIRO",
3          "provincia" : "MADRID",
4               "altitud" : "667",
5                  "tmed" : "8,5",
6                  "prec" : "0,0",
7                  "tmin" : "5,5",
8            "horatmin" : "07:40",
9                 "tmax" : "11,5",
10           "horatmax" : "13:50",
11                   "dir" : "05",
12             "velmedia" : "2,8",
13                "racha" : "8,6",
14          "horaracha" : "08:20",
15            "presMax" : "938,6",
16           "horaPresMax" : "10",
17            "presMin" : "936,1",
18            "horaPresMin" : "16"

In [133]:
df1 = pd.DataFrame(np.array(x[0:]).reshape(1, 19))
df1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,"""fecha"" : ""2022-12-01"",","""indicativo"" : ""3195"",","""nombre"" : ""MADRID, RETIRO"",","""provincia"" : ""MADRID"",","""altitud"" : ""667"",","""tmed"" : ""8,5"",","""prec"" : ""0,0"",","""tmin"" : ""5,5"",","""horatmin"" : ""07:40"",","""tmax"" : ""11,5"",","""horatmax"" : ""13:50"",","""dir"" : ""05"",","""velmedia"" : ""2,8"",","""racha"" : ""8,6"",","""horaracha"" : ""08:20"",","""presMax"" : ""938,6"",","""horaPresMax"" : ""10"",","""presMin"" : ""936,1"",","""horaPresMin"" : ""16"""